<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .form{
            margin: auto;
            background-color: #939393;
            border-radius: 6px;
            padding: 12px;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1>Login Page</h1>
    <form method="post" th:action="@{/login}" class="form">
       <div>
           <div style="padding: 4px;margin: 4px">
               username:<input type="text" name="username"/>
           </div>
           <div style="padding: 4px;margin: 4px">
               password:<input type="password" name="password"/>
           </div>
           <div style="padding: 4px;margin: 4px">
               <input type="submit"/>
           </div>
       </div>
    </form>
</body>
</html>
