<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>users</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>role</th>
        </tr>
        <tr th:each="user : ${userResponse}">
            <td th:text="${user.id()}"></td>
            <td ><a th:href="@{'/users/id/'+${user.id()}}" th:text="${user.username()}"></a></td>
            <td th:text="${user.role()}"></td>
        </tr>
    </table>
</body>
</html>
